@model AlterarServicoModel;
@{
    ViewData["Title"] = "Alterar serviço";
}
<div class="form-base">
    <form asp-action="AlterarServico" asp-controller="Servico" method="post">
        <div>
            <h5 class="text-sm-center">Alterar dados do serviço</h5>
            @if (TempData["MensagemError"] is not null)
            {
                <div class="text-lg-start text-danger">
                    <p class="text-center">@TempData["MensagemError"]</p>
                </div>
            }
            @if (TempData["Sucesso"] is not null)
            {
                <div class="text-lg-start text-success">
                    <p class="text-center">@TempData["Sucesso"]</p>
                </div>
                <script>
                    setTimeout(function () {
                        window.location.href = "/Servico/Index";
                    }, 5000);
                </script>
            }
            <input type="text" asp-for="Id" value="@Model.Id" hidden>
            <div class="col-lg-12">
                <label class="form-label" for="">Nome*</label>
                <input type="text" asp-for="Nome" class="form-control">
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Nome)</span>
            </div>
            <div class="col-lg-12">
                <label class="form-label" for="">Descrição</label>
                <textarea asp-for="Descricao" rows="7" id="descricao" class="form-control"></textarea>
            </div>
            <div class="col-lg-12">
                <label class="form-label" for="">Custos</label>
                <input type="number" asp-for="Custos" class="form-control">
            </div>
            <div class="diviser" style="color: #f7f7f7;"><hr></div>
            <div class="d-grid">
                <button class="btn btn-primary" type="submit">Alterar</button>
                <a class="btn btn-dark" onclick="Cacelar(@Model.Id)">Cancelar Serviço</a>
            </div>
        </div>
    </form>
</div>

<script>
    function Cacelar(id) {
        var confirma = confirm("Tem certeza que deseja cancelar o serviço?");

        if(confirma == true){
            fetch(`/Servico/CancelarServico/?Id=${id}`, {
                method:'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                window.location.href = "/Servico/Index";
            })
        }
    }
</script>
