@using ServicoInWeb.Service
@using ServicoInWeb.ViewModels
@model UsuarioViewModel;
@{
    ViewData["Title"] = "Usuarios";
}
<div class="col-lg-4">
    <div class="block u-card shadow_ m-0" style="padding: 1.28rem 1.71rem">
        <div class="center">
            <div class="icon-circle me-4" style="color: black">
                <i class="fa-solid fa-plus"></i>
            </div>
            <span>Adicionar um novo usuário</span>
            <div class="w-100">
                <a class="btn btn-outline-primary text-decoration-none w-100" asp-action="criarusuario" asp-controller="Usuario">Adicionar</a>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="row mt-4">
        <div class="col-12">
            <partial name="Pagination" model="@Model.Pagination" />
        </div>
    </div>
</div>
<div class="col-lg-12" style="padding: 0.58rem 1rem">
    <table>
        <caption>@Model.Usuarios.Count() Usuários</caption>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Nivel de acesso</th>
        </tr>
        @foreach(var usuario in Model.Usuarios)
        {   
            <tr>
                <th scope="row">@usuario.Id <a asp-action="AlterarUsuario" asp-controller="Usuario" asp-route-id="@usuario.Id"><i class="fa-regular fa-pen-to-square" style="color: black;"></i></a></th>
                <td>@usuario.Nome</td> 
                <td>@usuario.Email</td>
                <td>@Utilitarios.GetRoleEnum(usuario.Role)</td>
            </tr>
        }
    </table>
</div>