@using ServicoInWeb.Service
@using ServicoInWeb.ViewModels
@model UsuarioViewModel;
@{
    ViewData["Title"] = "Usuários";
}
<div class="col-lg-4">
    <div class="block u-card shadow_" style="padding: 1.28rem 1.71rem">
        <div class="row">
            <div class="icon-circle col-sm-1" style="color: black; align-self: center;">
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="col">
                <span>Adicionar um novo usuário à empresa</span>
                <a class="btn btn-outline-primary text-decoration-none w-100" asp-action="criarusuario"
                    asp-controller="Usuario">Adicionar</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form class="row" method="get" asp-action="Index" asp-controller="Usuario">
        <span class="form-text">Filtro</span>
        <div class="col-sm-4">
            <input type="text" id=nome asp-for="@Model.NomeUsuario" placeholder="Nome" class="form-control">
        </div>
        <div class="col-sm">
            <button class="btn btn-primary" type="submit">Filtrar</button>
        </div>
    </form>
</div>


<div class="col-12">
    <div class="row mt-4">
        <div class="col-12">
            <partial name="Pagination" model="@Model.Pagination" />
        </div>
    </div>
</div>
<div class="col-lg-12" style="padding: 0.58rem 1rem">
    <table>
        <caption>@Model.Usuarios.Count() Usuários</caption>
        <tr>
            <th scope="col"></th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Nivel de acesso</th>
        </tr>
        @foreach (var usuario in Model.Usuarios)
        {
            <tr>
                <th scope="row"><a asp-action="AlterarUsuario" asp-controller="Usuario" asp-route-id="@usuario.VId"><i
                            class="fa-regular fa-pen-to-square" style="color: black;"></i></a></th>
                <td>@usuario.Nome</td>
                <td>@usuario.Email</td>
                <td>@Utilitarios.GetRoleEnum(usuario.Role)</td>
            </tr>
        }
    </table>
</div>